@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import "tailwindcss";

@theme {
  /* Color tokens */
  --color-pure-white: #ffffff;
  --color-pure-black: #000000;
  --color-raw-umber: #2d2309;
  --color-selected-black: #2d2309;
  --color-unselected-gray: #e1e1e1;
  --color-gray-text: #999999;
  --color-opacity-black: rgba(0, 0, 0, 0.5);
  --color-opacity-white: rgba(255, 255, 255, 0.2);
  --color-opacity-black-50: rgba(0, 0, 0, 0.5);
  --color-opacity-black-55: rgba(0, 0, 0, 0.55);
  --color-opacity-black-40: rgba(0, 0, 0, 0.4);

  /* Font tokens */
  --font-nanum-square: "NanumSquare", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
